<div>
  <form (ngSubmit)="onSubmit()">
    <div class="dos-columnas">
      <h4 class="titulo-formulario">REGISTRAR AVES</h4>
    <div class="form-group">
      <label for="nombreC">* Nombre Común</label> <br>
      <input type="text"  maxlength="50" class="form-control" id="nombreC" required [(ngModel)]="model.nombreC" name="Nombre Común" #nombreC="ngModel" [ngModelOptions]="{ updateOn: 'change' }">
      <div [hidden]="nombreC.valid || nombreC.pristine" class="alert alert-danger">
        Campo Requerido
      </div>
      <br>
    </div>
    
    <div class="form-group">
      <label for="nombreCi">* Nombre Cientifico</label> <br>
      <input type="text" maxlength="50" class="form-control" id="nombreCi" required [(ngModel)]="model.nombreCi" name="nombreCi" #nombreCi="ngModel" [ngModelOptions]="{ updateOn: 'change' }">
      <div [hidden]="nombreCi.valid || nombreCi.pristine" class="alert alert-danger">
        Campo Requerido
      </div>
    </div>
<br>
    <button type="submit" class="btn" [disabled]="!nombreC.valid || !nombreCi.valid">Ingresar Vehiculo</button>

</div>

<div class="dos-columnas">
<h4 class="titulo-formulario" >ELIMINAR AVE</h4>
    <div class="form-group">
      <label for="deleteAve">Codigo ave</label> <br>
      <input type="text" class="form-control" id="deleteAve" required [(ngModel)]="model.deleteAve" name="deleteAve" #deleteAve="ngModel" [ngModelOptions]="{ updateOn: 'change' }">
      <div [hidden]="deleteAve.valid || deleteAve.pristine" class="alert alert-danger">
        Campo Requerido
      </div>
      <br>
    </div>

  <button class="btn" [disabled]="!deleteAve.valid" (click)="onDelete()">Salir Vehiculo</button>
</div>

<div class="dos-columnas">
<h4 class="titulo-formulario" >FILTRAR  AVES</h4>

  
    <div class="form-group">
      <label for="nombreComun">Nombre</label> <br>
      <input type="text" class="form-control" id="nombreComun" required [(ngModel)]="model.nombreComun" name="nombreComun" #nombreComun="ngModel" [ngModelOptions]="{ updateOn: 'change' }">
      <div [hidden]="nombreComun.valid || nombreComun.pristine" class="alert alert-danger">
        Campo Requerido
      </div>
      <br>
    </div>
    <div class="form-group">
      <label for="zona">Zona</label> <br>
      <input type="text" maxlength="50" class="form-control" id="zona" required [(ngModel)]="model.zona" name="zona" #zona="ngModel" [ngModelOptions]="{ updateOn: 'change' }">
      <div [hidden]="zona.valid || zona.pristine" class="alert alert-danger">
        Campo Requerido
      </div>
    </div>    
  <button class="btn" [disabled]="!nombreComun.valid || !zona.valid" (click)="onSalir()">Consultar Ave</button>
</div>
  </form>

</div>

<div class="tabla-contenedor">
  <h4 class="titulo-formulario">AVES</h4>
  <mat-table [dataSource]="myDataSource">
    <ng-container matColumnDef="NombreComun">
      <mat-header-cell *matHeaderCellDef> Nombre Común</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.dsNombreComun}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="NombreCientifico">
      <mat-header-cell *matHeaderCellDef> Nombre Cientifico </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.dsNombreCientifico}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['NombreComun', 'NombreCientifico']"></mat-header-row>
  <mat-row *matRowDef="let myRowData; columns: ['NombreComun', 'NombreCientifico']"></mat-row>
  </mat-table>
</div>

